{% extends 'basic.html' %}
{% block title %}staff
{% endblock title %}
{% block body %}

<!--Cards starts here-->
<div class="container py-5">
    <!--login and signup tab starts here -->
    <section>
        <div class="card w-50 mx-auto">
            <div class="card-title bg-light">
                <div class="container mt-3 mx-auto">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs justify-content-center w-100 " style="width:358px">
                        <li class="nav-item">
                            <a class="nav-link active " data-toggle="tab" href="#home" style="width:158px">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#menu1" style="width:158px">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Tab panes -->
            <div class="card-body">
                <div class="tab-content">
                    <div id="home" class="container tab-pane active">
                        <h2>Login Form</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xlg-12">
                                    <form action="/staff/login" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="login-username">Username:</label>
                                            <input type="text" class="form-control " id="login-username"
                                                placeholder="Enter Username" name="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="login-password">Password:</label>
                                            <input type="password" class="form-control " id="login-password"
                                                placeholder="Enter Password" name="password">
                                        </div>
                                        <div class="form-group form-check">
                                            <label class="form-check-label">
                                                <input class="form-check-input " type="checkbox" name="remember">
                                                Remember me
                                            </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Login</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="menu1" class="container tab-pane fade">
                        <h2>Signup Form</h2>
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-xlg-12">
                                    <form action="/staff/signup" method="POST">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label for="signup-username">Username:</label>
                                            <input type="text" class="form-control " id="signup-username"
                                                placeholder="Enter Username" name="username">
                                        </div>
                                        <div class="form-group">
                                            <label for="signup-password1">Password:</label>
                                            <input type="password" class="form-control " id="signup-password1"
                                                placeholder="Enter Password" name="password1">
                                        </div>
                                        <div class="form-group">
                                            <label for="signup-password2">Confirm Password:</label>
                                            <input type="password" class="form-control " id="signup-password2"
                                                placeholder="Confirm Password" name="password2">
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign Up</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Login and logout tab ends here-->
</div>
{% endblock body %}

</html>