{% extends 'basic.html' %}
{% block title %}About Us
{% endblock title %}
{% block body %}
<h1 class="text-center text-success" style="margin: 40px auto">About page </h1>
<section class="about-section text-center">
    <p>Welcome to Hotel Naif, your number one destination for luxury and comfort.</p>
    <p>Established in 1999, our hotel has been serving guests from around the world, providing an unforgettable experience of relaxation and enjoyment. Nestled in the heart of different cities around the world, Hotel Naif offers a unique blend of historical architecture with modern amenities.</p>
    <p>At Hotel Naif, our mission is to provide outstanding service, ensuring every guest feels at home. Our staff is dedicated to meeting your every need, going above and beyond to ensure your stay is perfect.</p>
    <p>Whether you are traveling for business or leisure, Hotel Naif offers a variety of rooms and suites designed for maximum comfort. Enjoy our world-class spa, gourmet restaurants, and breathtaking views of sea.</p>
    <p>Join us and experience luxury like never before.</p>
</section>
{% endblock body %}