{% extends 'basic.html' %}
{% block title %}About Us{% endblock %}
{% block body %}
<h1 class="text-center text-success" style="margin: 50px auto"> Welcome To Hotel-Naif </h1>
<section class="about-section text-center">
    <h2>Introduction</h2>
    <p>At Hotel Naif, we are delighted to welcome you to a world of luxury and comfort.</p>
    <p>Our dedicated team of professionals is at your service, ensuring that your stay with us is nothing short of
        exceptional. From the moment you arrive, our mission is to make you feel right at home.</p>
    <p>Meet our friendly and attentive staff, who are always ready to go the extra mile to meet your every need. Whether
        it's our concierge, front desk, or housekeeping team, each member is committed to making your stay
        unforgettable.</p>
    <p>Our services are designed to cater to both business and leisure travelers. We offer a variety of meticulously
        designed rooms and suites to maximize your comfort. Immerse yourself in our world-class spa, indulge in gourmet
        dining at our restaurants, and enjoy the breathtaking views of the sea.</p>
    <p>We invite you to experience the epitome of luxury at Hotel Naif, where every guest is a valued member of our
        family. Your journey begins here.</p>
</section>
{% endblock %}