{% extends 'basic.html' %}
{% block title %}Contact Us
{% endblock title %}
{% block body %}

<div class="container" style = "max-width: 600px;margin: 40px auto;background-color: #fff;padding: 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>Contact Information</h2>
    <div class="contact-item"  style = "display: flex;align-items: center;margin-bottom: 10px;">
        <span class="contact-icon"  style="margin-right: 10px;font-size: 1.5em;"></span> <p>Email: <a href="mailto:information@hotelnaif.com">information@hotelnaif.com</a></p>
    </div>
    <div class="contact-item" style = "display: flex;align-items: center;margin-bottom: 10px;">
        <span class="contact-icon" style="margin-right: 10px;font-size: 1.5em;"></span> <p>Phone: +123 456 7890</p>
    </div>
    <div class="contact-item" style = "display: flex;align-items: center;margin-bottom: 10px;">
        <span class="contact-icon" style="margin-right: 10px;font-size: 1.5em;"></span> <p>Instagram: <a href="https://instagram.com/hotelnaif">@hotelnaif</a></p>
    </div>
    <div class="contact-item" style = "display: flex;align-items: center;margin-bottom: 10px;">
        <span class="contact-icon" style="margin-right: 10px;font-size: 1.5em;"></span> <p>Address: 123 Pal Street, North ville, 12345</p>
    </div>
</div>
{% endblock body %}