{% extends 'basic.html' %}
{% block title %}Contact Us
{% endblock title %}
{% block body %}

<div class="container" style = "max-width: 600px;margin: 40px auto;background-color: #fff;padding: 20px;box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2>Contact Information</h2>
    <div class="contact-item"  style = "display: flex;align-items: center;margin-bottom: 10px;">
        <span class="contact-icon"  style="margin-right: 10px;font-size: 1.5em;"></span> <p>Email: <a href="mailto:information@hotelnaif.com">information@hotelnaif.com</a></p>
    </div>
    <div class="contact-item" style = "display: flex;align-items: center;margin-bottom: 10px;">
        <span class="contact-icon" style="margin-right: 10px;font-size: 1.5em;"></span> <p>Phone: +123 456 7890</p>
    </div>
    <div class="contact-item" style = "display: flex;align-items: center;margin-bottom: 10px;">
        <span class="contact-icon" style="margin-right: 10px;font-size: 1.5em;"></span> <p>Instagram: <a href="https://instagram.com/hotelnaif">@hotelnaif</a></p>
    </div>
    <div class="contact-item" style = "display: flex;align-items: center;margin-bottom: 10px;">
        <span class="contact-icon" style="margin-right: 10px;font-size: 1.5em;"></span> <p>Address: 123 Pal Street, North ville, 12345</p>
    </div>
</div>

<div class="container" style="background-color: #ffc107; padding: 20px; border-radius: 5px;">
    <h2 style="margin-bottom: 20px;">Send Us a Message</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label for="message">Message:</label>
            <textarea id="message" name="message" class="form-control" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% if confirmation_message %}
    <p class="text-success">{{ confirmation_message }}</p>
    {% endif %}
</div>
{% endblock body %}